<div class="container">
  <form #myForm="ngForm">
    <div class="row">

      <div class="col">
        <input type="text" class="order" [(ngModel)]="order" name="order" placeholder="Index">
        <input type="text" class="title" [(ngModel)]="title" name="title" placeholder="Enter todo items....">
        <button type="submit" class="btn btn-primary" (click)="additems(myForm.value)">Add</button>

      </div>

    </div>
  </form>

  <div class="row">
    <div class="col-6">
      <h1>Todo List</h1>
      <div cdkDropList [cdkDropListData]="todos" (cdkDropListDropped)="drop($event)">
        <table class="table">
          <tbody>
            <tr *ngFor="let todo of todos;let i= index" cdkDrag>

              <td>{{todo.order}}. {{todo.title}}</td>

              <td> <button type="button" class="btn btn-primary" (click)="delete(todo.order)"> delete</button></td>

              <td><button class="btn btn-primary" (click)="passIndex(i,todo.order,todo.title)">Update</button></td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>